body {
    color: rgb(255, 255, 255);
    background-color: #26362E;
    margin: 0;
}

/*hero container size*/
#hero{
    height: 450px;
}

/*hero image bar responsive*/
@media only screen and (max-width: 992px) {
    div.menu {
       display: none;
    }
    div#hamburger-icon {
       display: block;
       position: absolute;
       margin-top:20px;
       margin-right: 40px;
       left: 85%
   }
   }

#login{
    margin-right: -10px !important;
}
#box{
    width: 200px;
}
#join {
    background-color: #D8E951;
    color: black;
    height: 60px;
    width: 200px;
    text-align: center;
 }
 #hero-vector{
    margin-top: -20px;
 }